spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/sm?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
devtools:   # ?????
  restart:
    enabled: true  # ?????
    additional-paths: src/main/java
    exclude: WEB-INF/**
druid:
      # ????????
      initial-size: 5  # ????????
      max-active: 30  # ?????
      min-idle: 5   # ?????

      # ?????????????
      max-wait: 60000  #???????????????1min=60000ms
      validation-query: SELECT 1 FROM DUAL  #??????????????????????????????????
      # ??????????????????????
      min-evictable-idle-time-millis: 300000
      test-while-idle: true
      # ??SQL?????????????
      filters: stat,wall,slf4j
      # ??DruidStatViewServlet
      stat-view-servlet:
        # ???
        login-username: admin
        # ????
        login-password: admin
        url-pattern: /druid/*
        # IP???(????????????????)
        allow: 192.167.10.1,127.0.0.1  # ??????ip??????????
        reset-enable: false # ????
        # ?????-???????????????????404
        enabled: true
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.zqp.pojo
logging:
  level:
    com.zqp.mapper: trace
